:root {
  --green: #31451b;
  --black: #191919;
  --light-gray: #f0f0f0;
  --dark-gray: #ababab;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 100px;
  background-color: var(--light-gray);
  color: var(--black);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

p {
  margin: 0 0 16px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 24px;
  margin: 0 0 8px;
}

h2 {
  font-size: 24px;
  margin: 0 0 24px;
}

h3 {
  font-size: 20px;
  margin: 0 0 8px;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"]:checked + .list__content {
  border-color: #4c4c4c;
  background-color:rgba(0, 0, 0, 0.07);
}

header {
  background-color: var(--white);
  padding: 32px 16px;
  margin-bottom: 32px;
  box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.07);
}

main {
  padding: 0 16px;
}

a {
  font-size: 16px;
  font-weight: 500;
  color: var(--green);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

input[type="text"],
input[type="number"],
select {
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  padding: 12px 16px;
}

input,
select {
  width: 100%;
  margin-bottom: 24px;
}

select {
  appearance: none;
  padding: 12px 48px 12px 16px;
  background: url(/icons/caret.svg) no-repeat right 16px bottom 50% / 16px;
}

button {
  padding: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.button-group {
  margin-top: auto;
}

.button-group__button--first {
  margin-bottom: 8px;
}

.button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--primary {
  background-color: var(--green);
  color: var(--white);
  border: 1px solid var(--green);
}

.button--secondary {
  background-color: var(--white);
  color: var(--green);
  border: 1px solid var(--green);
}

.button__icon {
  margin-left: 8px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 162px;
}

.intro-text {
  margin-bottom: 40px;
}

.box {
  background-color: var(--white);
  box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.07);
  margin-top: 28px;
  padding: 20px;
  border-radius: 4px;
}

.box--step1 {
  padding: 20px 0;
}

.box--step2,
.box--step3 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.box__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0 20px 0;
}

.box__label-text  {
  display: inline-block;
  font-size: 24px;
  margin: 0 0 16px;
}

.box__input {
  padding: 12px 56px 12px 16px;
  background: url(/icons/search.svg) no-repeat right 16px bottom 50% / 24px;
}

.box__content {
  flex: 1;
  margin-right: 64px;
  display: flex;
  flex-direction: column;
}

.box__image {
  flex: 1;
  min-width: 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0;
  height: 538px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.list__item {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.list__content {
  display: block;
  padding: 4px;
  border: 4px solid transparent;
  border-radius: 4px;
}

.list__content:hover {
  border-color: #4c4c4c;
  background-color:rgba(0, 0, 0, 0.07);
}

.list__image {
  display: block;
  position: relative;
  aspect-ratio: 1 / 1;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  header {
    padding: 28px 16px;
  }

  h1 {
    font-size: 48px;
    margin: 0 0 16px;
  }

  h2 {
    font-size: 32px;
    margin: 0 0 32px;
  }

  h3 {
    font-size: 24px;
    margin: 0 0 16px;
  }

  a {
    font-size: 16px;
  }

  .logo {
    width: 267px;
  }

  .box--step2,
  .box--step3 {
    flex-direction: row;
  }

  .box__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .box__input {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .button-group {
    display: flex;
  }

  .button-group__button--first {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
