:root {
  --green: #31451b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #191919;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

p {
  margin: 0 0 16px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 24px;
  margin: 0 0 8px;
}

h2 {
  font-size: 24px;
  margin: 0 0 25px;
}

h3 {
  font-size: 18px;
  margin: 0 0 8px;
}

header {
  background-color: #ffffff;
  padding: 31px 16px;
  margin-bottom: 32px;
  box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.07);
}

main {
  padding: 0 16px;
}

a {
  font-size: 14px;
  font-weight: 500;
  color: var(--green);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 162px;
}

@media (min-width: 768px) {
  header {
    padding: 28px 16px;
  }

  h1 {
    font-size: 48px;
    margin: 0 0 14px;
  }

  h2 {
    font-size: 34px;
    margin: 0 0 32px;
  }

  h3 {
    font-size: 24px;
    margin: 0 0 16px;
  }

  a {
    font-size: 16px;
  }

  .logo {
    width: 267px;
  }
}
